.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
# Exclude dev dependencies only
node_modules/@types/**
node_modules/@typescript-eslint/**
node_modules/eslint/**
node_modules/eslint-*/**
node_modules/typescript/**
*.ts
**/*.map
.git/**
.env
pnpm-lock.yaml
package-lock.json
docker-compose.yml
docker/**
mysql-ext.code-workspace
docs/**
