.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
node_modules/**
*.ts
**/*.map
.git/**
.env
pnpm-lock.yaml
package-lock.json
docker-compose.yml
docker/**
mysql-ext.code-workspace
docs/**
